export ARCH_NAME=wormhole_b0
export TT_METAL_HOME=/home/ubuntu/git/ML-Framework-CPP/tt-metal
export PYTHONPATH=/home/ubuntu/git/ML-Framework-CPP/tt-metal
export TT_METAL_ENV=dev
export ARCH_NAME=wormhole_b0
export TT_METAL_HOME=/home/ubuntu/git/ML-Framework-CPP/tt-metal
export PYTHONPATH=/home/ubuntu/git/ML-Framework-CPP/tt-metal
export TT_METAL_ENV=dev
